*, *::after, *::before {
  box-sizing: border-box;
}
:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * .9);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(to right, #9c9cd5, #5dc6fff0, #00d4ff);
  text-align: center;
  color:white;
}

h1 {
  position: absolute;
  margin: 2%;
}

#game-status {
  position: absolute;
  top: 12%;
}

.player-winner {
  color: rgb(8, 155, 8);
}

.computer-winner {
  color: rgb(223, 42, 29);
}

.draw {
  color: rgb(255, 255, 0);
}

#p1 {
  position: absolute;
  left: 1%;
}

#p2 {
  position: absolute;
  right: 1%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 10%;
  text-align: center;
  box-shadow: 3px 10px 9px 0px rgba(26, 70, 123, 0.82);
}

.grid-item {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: aliceblue;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 30%;
  color: rgb(125, 125, 125);
}

.grid-item:hover {
  background-color: #3aceff00;
}

.occupied:hover {
  background-color: rgba(203, 42, 74, 0.982);
}

.grid-container .grid-item {
  border: 1px solid rgba(199, 199, 199, 0.769);
}

#reset {
  position: absolute;
  bottom: 10%;
  /* border: none; */
}

/* CSS for script3 */

/* .xClass::before,
.xClass::after {
  content: '';
  width: calc(var(--mark-size) * .15);
  height: var(--mark-size);
  background-color: black;
  position: absolute;
}

.xClass::before {
  transform: rotate(45deg);
}

.xClass::after {
  transform: rotate(-45deg);
}

.oClass::before,
.oClass::after {
  content: '';
  border-radius: 50%;
  position: absolute;
  background-color: white ;
}

.oClass::before {
  width: var(--mark-size);
  height: var(--mark-size);
  background-color: black;
}

.oClass::after {
  width: calc(var(--mark-size) + .7);
  height: calc(var(--mark-size) + .7);
  background-color: white;
} */
.xClass {
  background-color: red;
}

.oClass {
  background-color: black;
}

.setBoardHoverClass {
  background-color: slategrey;
}