body {
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(to right, #9c9cd5, #5dc6fff0, #00d4ff);
  /* text-align: center; */
  color:white;
}

h1 {
  position: absolute;
  margin: 2%;
}

#game-status {
  position: absolute;
  top: 12%;
}

.player-winner {
  color: rgb(8, 155, 8);
}

.computer-winner {
  color: rgb(223, 42, 29);
}

.draw {
  color: rgb(255, 255, 0);
}

#p1 {
  position: absolute;
  left: 1%;
}

#p2 {
  position: absolute;
  right: 1%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 10%;
  text-align: center;
  box-shadow: 3px 10px 9px 0px rgba(26, 70, 123, 0.82);
}

.grid-item {
  width: 100px;
  height: 100px;
  background-color: aliceblue;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 30%;
  color: rgb(125, 125, 125);
}

.grid-item:hover {
  background-color: #3aceff00;
}

.occupied:hover {
  background-color: rgba(203, 42, 74, 0.982);
}

.grid-container .grid-item {
  border: 1px solid rgba(199, 199, 199, 0.769);
}

#reset {
  position: absolute;
  bottom: 10%;
  /* border: none; */
}

/* CSS for script3 */
.oClass {
  background-color: palegreen;
}

.xClass {
  background-color: pink;
}

.setBoardHoverClass {
  background-color: slategrey;
}